/*Selectores basicos*/

/*Selector de etiquetas, aplicar todas las etiquetas*/
/* a {
    color: red;
}/

/*Selector de clases, hace referencia con un punto(.)*/
/*.parrafo{
    color: blue;
}*/

/*Selector de id, hace referencia con un gato(#)*/
/*#parrafo{
    color: blue;
}*/

/*Selector universal, se hace referencia con uin , se recomienda
solo para resetear el navegador*/
/*{
    background: red;
} */

/*Selector de atributos
Se hace referencia con [], se seleccionan los elementos que tengan
ese atributo*/

[href]{
    color: red;
}

/*Seleccionar los elementos que tengan ese atributo y ese valor*/
[href="#"] {
    color: green;
}

/*Seleccionar los elementos que tienen ese atributo y 
ese valor al menos una vez*/
[class~="verde"] {
    color: blue;
}

/*Seleccionar los elementos que tienen ese atributo y 
exactamente ese valor o empiece por el valor seguido de un guion*/
[class|="verde"] {
    color: red;
}

/*Seleccionar los elementos que tienen ese atributo y 
empiecen por ese valor*/
[class^="rojo"] {
    color: purple;
}

/*Seleccionar los elementos que tienen ese atributo y 
terminen por ese valor*/
[class$="verde"] {
    color: orange;
}

/*Selectores combinadores*/

/*Selector hermano adyacente,
selecciona un hermano que este justo debajo, hermano inferior*/

h1 + h2 {
    color: red;
}

/*Selectores de hermano general, aplica los estilos a todos los hermanos
que esten debajo de el compartir el mismo padre*/
h1 ~ h3 {
    color: blue;
}

/*Selectores descendentes
Aplica el estilo a todos los elementos dentro de este, se aplica a
todos lo hijos*/
div span {
    color: orange;
}

/*Selector de hijo directo, busca relacion directa*/

p > span {
    color: blue;
}
/*Selector */