/*
Degradado

Es la transicion entre un color y otro.

Tipos lineales y radiales

2 colores: 0% 100%
3 colores: 0% 50% 100%
background-image:

Valores para lineal
linear-gradient([dirrecion], color1, color2);

direcciones: to top, right, left, bottom, top right, top left,
bottom right, bottom left.

Inicios/fin de color: medir en px, em, %.

Valores para radial

radial-gradient([shape], color1, color2);

origenes: at top, bottom, left, right, center
*/


.box1 {
    width: 200px;
    height: 200px;
    border: none;
    background-image: radial-gradient(ellipse 200px 80px at bottom, transparent 40%, blue 50%);
}
/*
Box shadow

box-shadow: h-offset v-offset blur spread color inset|outset

h-offset: desplazamiento horizontal
v-offset: desplazamiento vertical
blut: opcional - desenfoque de la sombra
spread: opcional: extension de la somra
color: opcional - por defecto agarra el color de texto

inset y outset: opcional - por defecto es outset

Sombras multiples
*/

.box2{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    margin: 50px;
    box-shadow: -10px -10px 5px 10px red, 10px 10px 5px 10px blue inset;
}

/*
Text-shadow

text-shadow: h-offset v-offset blur color

Sombras multiples
*/

.titulo {
    font-size: 30px;
    font-weight: 900;
    color: white;
    text-shadow: -1px -1px 0 grey, 1px 1px 1px grey;
}
