/*Herencia
Se utiliza el valor de inherit*/

p{
    color: green;
}

a{
    color: inherit; /*Se le dice que seleccione el color del elemento padre*/
}

/*Especificidad -> Cascada*/

/*Etiquetas -> 1
Clases -> 10
ID ->100
Estilos en linea ->1000
!important -> Gana a todos*/
p{
    color: red;
}

#parrafo{
    color: purple;
}

p{
    color: blue !important;
}
#parrafo{
    color: orange;
}
/*Box model*/

h1{
    background: lightblue;
    width: 100px;
}

div{
    background: lightcoral;
    height: 100px;
    width: 100px;
    border: 1px solid black;
}

a{
    background: lightgreen;
    height: 1000px;
}

span{
    background: red;
}
.caja1{
    background: lightgreen;
    border: 3px solid black;
    padding: 10px;
    margin: 20px;
}